<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - todolist</title>
    <link rel="stylesheet" href="~/css/custom-bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/todolist.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body data-bs-theme="dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">todolist</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto column-gap-3 row-gap-1">
                        @if(User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Todos/Index">Todos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Planner/Planner">Planner</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-page="/Projects/Index">Projects</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-page="/Goals/Index">Goals</a>
                            </li>
                            <li>
                                <a class="nav-link" asp-page="/Checklists/Index">Checklists</a>
                            </li> 
                        }
                        else
                        {
                        <li class="nav-item">
                            <a class="btn btn-outline-primary" asp-page="/Identity/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" asp-page="/Identity/Login">Login</a>
                        </li>
                        }

                        @if(User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <button form="logout-form" type="submit"
                                    class="btn btn-outline-danger">Log out</button>
                                <form id="logout-form" method="post" asp-page="/Identity/Logout" class="d-inline">
                                </form>
                            </li>

                            
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - <a class="text-info" href="https://portfolio.eggrain.net">Zoe Rain</a>
        </div>
    </footer>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/todo-form-options.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>