@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<dynamic>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/custom-bootstrap.css" />
  <link rel="stylesheet" href="~/css/print.css" media="print" />

</head>
<body>
  @RenderBody()
</body>
</html>
