@model Models.Checklist

<a asp-page="/Checklists/Show" asp-route-id="@Model.Id" class="card mb-3 text-decoration-none text-reset"
    style="width: 16rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
</a>
