@page
@model todolist.Pages.Checklists.IndexModel
@{
    ViewData["Title"] = "Checklists";
}

<span class="d-flex column-gap-3 align-items-center">
    <h1>Checklists</h1>

    <a asp-page="/Checklists/New" class="btn btn-outline-secondary">
        <i class="bi bi-plus-lg"></i> checklist
    </a>
</span>

<div class="list-group my-4">
    @foreach (var checklist in Model.Checklists)
    {
        <a asp-page="/Checklists/Show" asp-route-id="@checklist.Id" 
           class="list-group-item list-group-item-action" role="button">
            <span class="text-primary">
                <i class="bi bi-list-check"></i> @checklist.Name
            </span>
        </a>
    }
</div>
