@page "{id}"
@model todolist.Pages.Checklists.PrintModel
@{
  Layout = "_PrintLayout";
  ViewData["Title"] = "Print Checklist";
}

<h1 class="mb-4">@Model.Checklist.Name</h1>


<div class="checklist-columns">
  @foreach (ChecklistTask task in Model.Checklist.Tasks.OrderBy(t => t.Order))
  {
    <div class="checklist-item">
      <div class="task-line">
        <div class="task-number-line"></div>
        <span class="task-desc">@task.Description</span>
      </div>
      <input class="form-check-input" type="checkbox" disabled />
    </div>
  }
</div>

<div class="do-not-print d-flex justify-content-center mt-4">
  <button type="button" onclick="window.print()" class="btn btn-sm btn-outline-secondary">
    Print
  </button>
</div>
