@page "{goalId}/{noteId}"
@model todolist.Pages.Goals.ProgressNotes.EditModel
@{
    ViewData["Title"] = "Edit progress note";
}

<h1>@Model.Goal.Name - edit note</h1>

<form method="post">
    <partial name="_Form" for="@Model.Note" />

    <button class="btn btn-outline-secondary"
            method="post" type="submit">
        Update note
    </button>
</form>
