@model DateTime

<div class="card text-center w-100 h-100 rounded-0" style="min-height: 9rem">
    <div class="card-body">
        <h5 class="card-title text-start border-bottom d-flex align-items-center justify-content-between column-gap-3">
            <span>
                <span class="fs-3 card-text text-primary">@Model.Day</span>

                <span class="fs-4">@Model.DayOfWeek</span>
            </span>

            <button class="btn btn-sm btn-primary mb-2">+ notes</button>
        </h5>
        
        <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-primary">+ todos</button>
        </div>
        
    </div>
</div>
