@page
@model todolist.Pages.Projects.IndexModel
@using todolist.Models
@{
    ViewData["Title"] = "Projects";
}

<span class="d-inline-flex column-gap-3 align-items-center">
    <h1>Projects</h1>
    <a asp-page="/Projects/New" class="btn btn-outline-secondary">New project</a>
</span>

<div class="list-group my-4">
@foreach(Project proj in @Model.Projects)
{
    <a asp-page="/Projects/Show" asp-route-id="@proj.Id" class="list-group-item list-group-item-action"
        role="button">
        <span class="text-primary"><i class="bi bi-folder2"></i> @proj.Name</span>
        <span class="ms-4">@proj.Todos.Count todos</span>
    </a>
}
</div>

