@model Models.Todo

<p class="mb-1">
    @Model.Description 
    @if(Model.Completed)
    {
        <i class="bi bi-check-square-fill text-success"></i>
    }
    else
    {
        <i class="bi bi-x-square-fill text-danger"></i>
    }
</p>

@if(Model.OnDate != null)
{
    <p class="mb-1">@Model.OnDate</p>
}

@if(Model.AtTime != null)
{
    <p class="mb-1">@Model.AtTime</p>
}
