@model todolist.Models.Todo

@{
    ViewData["Title"] = "New todo";
}

<input type="hidden" asp-for="UserId" />

<div class="mb-4">
    <label class="form-label" asp-for="Description"></label>
    <input class="form-control" asp-for="Description" />
</div>

<div class="my-2">
    <label class="form-label" asp-for="OnDate">On date:</label>
    <input class="form-control" asp-for="OnDate" type="date"></label>
</div>
