@model todolist.Models.Todo

@{
    ViewData["Title"] = "New todo";
}

<div asp-validation-summary="All" class="text-danger"></div>

<input type="hidden" name="UserId" value="@Model.UserId" />
<input type="hidden" name="ProjectId" value="@Model.ProjectId" />

<div class="mb-2">
    <label class="form-label" asp-for="Description"></label>
    <input class="form-control" asp-for="Description" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div class="my-4 d-flex flex-wrap justify-content-start column-gap-5 row-gap-3">
    <div class="">
        <label class="form-label" asp-for="OnDate">Date:</label>
        <input class="form-control" asp-for="OnDate" type="date"></label>
        <span asp-validation-for="OnDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="StartTime" class="form-label">Start time:</label>
        <input asp-for="StartTime" class="form-control" type="time" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EndTime" class="form-label">End time:</label>
        <input asp-for="EndTime" class="form-control" type="time" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
</div>

<div class="my-2 form-check">
    <label class="form-check-label" asp-for="Completed">Complete</label>
    <input class="form-check-input" asp-for="Completed" type="checkbox"></label>
    <span asp-validation-for="Completed" class="text-danger"></span>
</div>
