@model (string ModalId, string ReturnUrl, Todo Todo)

<div class="modal fade" id="@Model.ModalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page="/Todos/New" data-todo-form>
                <div class="modal-header">
                    <h5 class="modal-title">New Todo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input value="@Model.ReturnUrl" type="hidden" name="returnUrl" />
                    @await Html.PartialAsync("/Pages/Todos/_Form.cshtml", Model.Todo)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
