@page "{id}"
@model todolist.Pages.Todos.DeleteModel

<p>If you can see this, please report a bug it is the delete TODO page that only exists because the page model with the action to delete a todo requires one exist</p>