@page
@model todolist.Pages.Todos.IndexModel
@{
    ViewData["Title"] = "Todos";
}

<h1 class="d-inline-flex align-items-end mb-0 column-gap-3">
    <span>Todos</span>
    <a asp-page="/Todos/New" class="btn btn-outline-primary">
        <i class="bi bi-plus-lg"></i> todo
    </a>
</h1>

<div class="my-4 d-flex flex-wrap row-gap-3 column-gap-3">
    @foreach(Todo todo in @Model.Todos)
    {
        @await Html.PartialAsync("~/Pages/Todos/_Card.cshtml", todo)
    }
</div>
