@page
@model todolist.Pages.Todos.NewModel
@{
    ViewData["Title"] = "New Todo";
}

<h1>New Todo</h1>

<div>
    <form method="post" data-todo-form>
        @await Html.PartialAsync("_Form", Model.Todo)

        <button type="submit" class="btn btn-primary">Create todo</button>
    </form>
</div>
