@page "{id}"
@model todolist.Pages.Todos.ShowModel

<h1>Todo:</h1>

<p>@Model.Todo.Description</p>

<p>Complete at @(Model.Todo.AtTime == null ? "n/a" : Model.Todo.AtTime)
     on @(Model.Todo.OnDate == null ? "n/a" : Model.Todo.OnDate)</p>
