@page
@model todolist.Pages.Identity.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input autocomplete="username" asp-for="Input.Email" class="form-control" placeholder="" />
        <label asp-for="Input.Email" class="form-label"></label>
    </div>

    <div class="form-floating mb-3">
        <input autocomplete="current-password" asp-for="Input.Password" class="form-control" placeholder="" />
        <label asp-for="Input.Password" class="form-label"></label>
    </div>

    <div class="checkbox mb-3">
        <label class="form-label">
            <input asp-for="Input.RememberMe" class="form-check-input" />
            Remember me?
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
