@page
@model todolist.Pages.Goals.IndexModel
@using todolist.Models
@{
    ViewData["Title"] = "Goals";
}

<span class="d-flex column-gap-3 align-items-center">
    <h1>Goals</h1>

    <a asp-page="/Goals/New" class="btn btn-outline-secondary">
        <i class="bi bi-plus-lg"></i> goal
    </a>
</span>

<div class="list-group my-4">
    @foreach (Goal goal in Model.Goals)
    {
        <a asp-page="/Goals/Show" asp-route-id="@goal.Id" class="list-group-item list-group-item-action" role="button">
            <span class="text-primary"><i class="bi bi-bullseye"></i> @goal.Name</span>
        </a>
    }
</div>
