@page
@model todolist.Pages.Goals.IndexModel
@using todolist.Models
@{
    ViewData["Title"] = "Goals";
}

<h1>Goals</h1>

<div class="d-flex flex-wrap column-gap-3 row-gap-3 my-4">
    @foreach (Goal goal in Model.Goals)
    {
        <a asp-page="/Goals/Show" asp-route-id="@goal.Id" style="width: 16rem;"
            class="card text-decoration-none mb-3">
            <div class="card-body">
                <h5 class="card-title mb-0">@goal.Name</h5>
            </div>
        </a>
    }
</div>

<a class="btn btn-primary" asp-page="/Goals/New">New goal</a>
