@model todolist.Models.ChecklistTask

<input type="hidden" asp-for="ChecklistId" />
<input type="hidden" asp-for="UserId" />

<div asp-validation-summary="All" class="text-danger"></div>

<div class="mb-3">
    <label asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description" class="form-control" rows=10></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
