@page "{checklistId}/{taskId}"
@model todolist.Pages.Checklists.ChecklistTasks.EditModel
@{
    ViewData["Title"] = "Edit task";
}

<h1>@Model.Checklist.Name - edit task</h1>

<form method="post">
    <partial name="_Form" for="@Model.Task" />

    <button class="btn btn-outline-secondary" method="post" type="submit">
        Update task
    </button>
</form>
